
<div id="carouselExampleIndicators" class="carousel slide mb-10 mt-3 w-75 mx-auto" data-bs-ride="carousel" data-bs-interval="1000">
  <div class="carousel-indicators ">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active !bg-emerald-300" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" class = " !bg-emerald-300" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" class = " !bg-emerald-300" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" class = " !bg-emerald-300" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" class = " !bg-emerald-300" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../../Images/car1.avif" style ="height : 70vh;" class="d-block w-100" alt="car Image" class="w-75 mx-auto" >
    </div>
    <div class="carousel-item">
      <img src="../../../../Images/car2.avif" style ="height : 70vh;" class="d-block w-100" alt="car Image" class="w-75 mx-auto">
    </div>
    <div class="carousel-item">
      <img src="../../../../Images/car3.avif" style ="height : 70vh;" class="d-block w-100" alt="car Image" class="w-75 mx-auto">
    </div>
    <div class="carousel-item">
      <img src="../../../../Images/car4.avif" style ="height : 70vh;" class="d-block w-100" alt="car Image" class="w-75 mx-auto">
    </div>
    <div class="carousel-item">
      <img src="../../../../Images/car5.avif" style ="height : 70vh;" class="d-block w-100" alt="car Image" class="w-75 mx-auto">
    </div>
  </div>
  <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon !bg-lime-500 " aria-hidden="true"></span>
    <span class="visually-hidden ">Previous</span>
  </button>
  <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon !bg-lime-500 " aria-hidden="true"></span>
    <span class="visually-hidden ">Next</span>
  </button>
</div>
